html, body {
  margin: 0;
  overflow-y: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.titlebar {
  padding-left: 10px;
  height: 30px;
  width: 100%;
  background-color: #2c2d35;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.titlebar {
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.views {
  height: calc(100vh - 63px) !important;
}